<!DOCTYPE html>
<html lang="en-GB">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}

        <main>
            <div id="content">
                <div class="narrow">
                    <p>London Web Standards brings together web professionals who are working for a better web. Our by-monthly meetups provide them with an opportunity to teach, inspire, learn, network and debate.</p>
                    <p>Each meetup features a speaker drawn from our membership or the wider standards community. The talks cover a range of topics including HTML5, JavaScript, CSS, accessibility, web fonts, UX and front-end performance.</p>
                </div>
                <h1>Next event</h1>
            </div>
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
