<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>London Web Standards</title>
    <meta name="author" content="London Web Standards">
    <meta name="description" content="London Web Standards brings together web professionals who are working for a better web. Our bi-monthly meetups provide them with an opportunity to teach, inspire, learn, network and debate.">

    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed") }}
    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="icon" href="{{ .Site.BaseURL }}images/favicon.png" type="image/x-icon">
</head>